body {
  background: #f0f2f5 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-explain-error .ant-form-item-explain-error {
  padding-bottom: 8px;
  padding-left: 11px;
}

.custom-modal.ant-modal {
  top: 50px;
  padding-bottom: 50px;
}

.custom-drawer-title .ant-drawer-header-title {
  flex-direction: row-reverse;
}
